table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 16px;
}

#table {
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;

}

#table tr:hover {
  background-color: #737373;
  cursor: pointer;
}

#table td{
  text-align: center;
  padding: 8px;
  background-color: #edededa3;
  color: #000000;
}

#table th {
  padding: 8px;
  padding-top: 12px;
  text-align: center;
  padding-bottom: 12px;
  background-color: #043a81;
  color: white;
}

.status{
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border-radius: 20px;
}

.status-landed{
  background-color: #00af00af;
  color: #ffffff;
}

.status-operating{
  background-color: #0015ffa3;
  color: #ffffff;
}

.status-delayed{
  background-color: #7a7a7aa3;
  color: #ffffff;
}

.status-cancelled{
  background-color: #ff0000a3;
  color: #ffffff;
}
