
<table id="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Departure City</th>
      <th>Flight Status</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let user of users"> -->
      <td>Andres<!-- {{user.name}} --></td>
      <td>andres@email.com<!-- {{user.email}} --></td>
      <td>Manizales<!-- {{user.gender}} --></td>
      <td>
        <p class="status">Landed<!-- {{user.flightStatus}} --></p>
      </td>
   <!--  </tr> -->
  </tbody>

  <tbody>
    <!-- <tr *ngFor="let user of users"> -->
      <td>Andres<!-- {{user.name}} --></td>
      <td>andres@email.com<!-- {{user.email}} --></td>
      <td>Manizales<!-- {{user.gender}} --></td>
      <td>
        <p class="status">Landed<!-- {{user.flightStatus}} --></p>
      </td>
   <!--  </tr> -->
  </tbody>

</table>

