
<div class="container">
  <h1 class="title">FLIGHT INFORMATION</h1>

  <!-- make a option selector -->
  <div class="dropdwn-container">
    <div class="dropdown">
      <select class="dropdwn-select" (change)="onChangeCity($event)">
        <option value="" disabled selected>Select departure city</option>
        <!-- recorremos el JSON para obtener las ciudades de
        los usuarios y así tener todos los datos en el dropdown -->
        <option value="all">All cities</option>
        <option *ngFor="let user of users" [value]="user.city"> {{user.city}} </option>
        <!-- <option value="0">All cities</option>
        <option value="1">Cali</option>
        <option value="2">Bogotá</option>
        <option value="3">Medellín</option>
        <option value="4">Pereira</option>
        <option value="5">Manizales</option> -->

      </select>
    </div>

    <div class="dropdown">
      <select class="dropdwn-select" (change)="onChangeStatus($event)">
        <option value="" disabled selected>Select flight status</option>
        <option value="all">All flights</option>
        <option value="Landed">Landed</option>
        <option value="Operating">Operating</option>
        <option value="Delayed">Delayed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>

    <button class="btn-filter" (click)="filter()"><i class="fa-solid fa-filter"></i> Filter</button>
  </div>

  <!-- Se hace el llamado al componente para mostrar la lista -->
  <div *ngIf="showDetails">
    <app-list [users]="users"></app-list>
  </div>


</div>
