
<div class="container">
  <h1 class="title">FLIGHT INFORMATION</h1>

  <!-- make a option selector -->
  <div class="dropdwn-container">
    <div class="dropdown">
      <select class="dropdwn-select">
        <option value="" disabled selected>Select departure city</option>
        <option value="0">Cali</option>
        <option value="1">Bogotá</option>
        <option value="2">Medellín</option>
        <option value="3">Pereira</option>
        <option value="4">Manizales</option>

      </select>
    </div>

    <div class="dropdown">
      <select class="dropdwn-select">
        <option value="" disabled selected>Select flight status</option>
        <option value="0">Landed</option>
        <option value="1">Operating</option>
        <option value="2">Delayed</option>
        <option value="3">Cancelled</option>
      </select>
    </div>

    <button class="btn-filter"><i class="fa-solid fa-filter"></i> Filtrar</button>
  </div>




  <!-- Call to the componet to display the list -->
  <app-list> </app-list>
</div>
